name: Build Kernel
on:
  workflow_dispatch:
    inputs:
      BRANCH:
        description: Kernel branch
        default: 'android-4.19-stable'
        required: true
      TARGET_DEVICE:
        description: 'Target Device'
        required: true
        default: 'a03s'
        type: choice
        options:
          - a03s
          - a04e
          - m04
          - a06
      LTO:
        description: 'Link Time Optimisation'
        required: true
        default: 'none'
        type: choice
        options:
          - none
          - thin
          - full
      CLANG_EIGHTEEN:
        description: Use clang 18
        type: boolean
      KSU:
        description: Add KernelSU support
        type: boolean
      UPLOAD_TO_TG:
        description: Upload to Telegram
        type: boolean
      LLVM:
        description: LLVM=1
        type: boolean
      LLVM_IAS:
        description: LLVM_IAS=1 (LLVM=1 needed!)
        type: boolean
        
jobs:
  build:
    runs-on: ubuntu-latest
    environment: secureEnvironment
    steps:
    - uses: actions/checkout@v4
      with:
        path: kernel_root
        repository: rsuntk/android_kernel_samsung_huaqin-cmn
        ref: ${{ github.event.inputs.BRANCH }}
        token: ${{ secrets.ACCESS_TOKEN }}
        show-progress: false
        fetch-depth: 1
  
    - name: Telegram msg
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.CHAT_ID }}
        token: ${{ secrets.BOT_TOKEN }}
        message: |
            ${{ github.actor }} triggered a build!
            Workflows: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
            Repository: ${{ github.repository }}
            
    - name: Prepare dependencies
      run: |
        sudo apt update -y
        sudo apt install bc cpio flex bison aptitude git python-is-python3 tar perl wget curl lz4 -y
        sudo aptitude install libssl-dev -y
        
    - name: Fetch toolchains
      run: |
        mkdir toolchains
        cd toolchains
        mkdir clang-18 && cd clang-18
        wget -q -O clang.tar.gz https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/refs/heads/main/clang-r522817.tar.gz
        tar -xf clang.tar.gz && rm clang.tar.gz && cd ..
        git clone --depth=1 https://github.com/rsuntk/toolchains.git -b gcc-10 gcc-10
      working-directory: kernel_root
    - name: Prepare timezone fix
      run: |
        sudo rm /etc/localtime
        sudo ln -s /usr/share/zoneinfo/Asia/Jakarta /etc/localtime
      
    - name: Build kernel
      id: buildKernel
      run: |
        CLANG_VERSION=18 && echo "CLANG_VERSION=$CLANG_VERSION" >> $GITHUB_ENV
        export PATH=$(pwd)/toolchains/clang-`echo $CLANG_VERSION`/bin:$PATH
        export CROSS_COMPILE=$(pwd)/toolchains/gcc-10/bin/aarch64-buildroot-linux-gnu-
        export CLANG_TRIPLE=aarch64-linux-gnu-
        export KBUILD_BUILD_USER="rsuntk"
        export KBUILD_BUILD_HOST="rsuntkOrgs"
        export BUILD_START=`date`
        export SELINUX_STATE="Enforcing"
        export IS_CI=true
        export LTO="${{ github.event.inputs.LTO }}"

        if [[ "${{ github.event.inputs.LLVM }}" = "true" ]]; then
          export LLVM=1
          if [[ "${{ github.event.inputs.LLVM_IAS }}" = "true" ]]; then
            export LLVM_IAS=1
          fi
        fi

        # clone mtk connectivity
        rm -rf drivers/misc/mediatek/connectivity && cd drivers/misc/mediatek/ && git clone https://github.com/rsuntkOrgs/mtk_connectivity_module --depth=1 -b staging-4.19 connectivity && rm -rf connectivity/.git && cd ../../..

        if [[ "${{ github.event.inputs.TARGET_DEVICE }}" = "a03s" ]]; then
          export DEFCONFIG="rsuntk-a03s_defconfig"
          export DEVICE="A037F"
          export DEVICE_ID="A03s"
          export TARGET_PRODUCT=a03s
        elif [[ "${{ github.event.inputs.TARGET_DEVICE }}" = "a04e" ]]; then
          export DEFCONFIG="rsuntk-a04e_defconfig"
          export DEVICE="A042F"
          export DEVICE_ID="A04e"
          export TARGET_PRODUCT=a04
        elif [[ "${{ github.event.inputs.TARGET_DEVICE }}" = "m04" ]]; then
          export DEFCONFIG="rsuntk-m04_defconfig"
          export DEVICE="M045F"
          export DEVICE_ID="M04"
          export TARGET_PRODUCT=a04
        elif [[ "${{ github.event.inputs.TARGET_DEVICE }}" = "a06" ]]; then
          export DEFCONFIG="rsuntk-a06_defconfig"
          export DEVICE="A065F"
          export DEVICE_ID="A06"
        fi
        
        export KERNELSU="${{ github.event.inputs.KSU }}"
        
        bash $(pwd)/build.sh kernel --jobs $(nproc --all) `echo $DEFCONFIG`
        
        if [[ "${{ github.event.inputs.KSU }}" = "true" ]]; then
        	KSU_REV_COUNT=$(cd KernelSU && git rev-list --count HEAD)
        	KSU_VERSION=$(expr 10200 + $KSU_REV_COUNT)
        else
        	KSU_VERSION="No KernelSU"
        fi
        echo "- KernelSU version: $KSU_VERSION"
        
        ## CREATE buildDetails.txt
        printf "Localversion: `./getutsrel`
        Clang version: `clang -v 2>&1 | grep ' version ' | sed 's/[[:space:]]*$//'`
        Build: `echo $BUILD_START`
        Defconfig: `echo $DEFCONFIG`
        KernelSU: `echo $KSU_VERSION`
        LTO: `echo $LTO`
        SELinux: `echo $SELINUX_STATE`
        " >> buildDetails.txt
        
        echo "TITLE=Galaxy `echo $DEVICE_ID` Kernel" >> $GITHUB_ENV
        
        echo ""
        echo "===================================================="
        strings out/arch/arm64/boot/Image | grep "Linux version"
        echo "===================================================="

        mv out/.config out/build_config.txt
        gitsha1=$(git rev-parse --short HEAD)
        buildDetails="`make kernelversion`-`echo $DEVICE`_`echo $gitsha1`-`date +'%Y%m%d%H%M%S'`" && echo "buildDetails=$buildDetails" >> $GITHUB_OUTPUT
      working-directory: kernel_root
      
    - name: Upload config
      uses: actions/upload-artifact@v4
      with:
        name: Config-${{ steps.buildKernel.outputs.buildDetails }}
        path: kernel_root/out/build_config.txt
        
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Build-${{ steps.buildKernel.outputs.buildDetails }}
        path: |
          kernel_root/out/arch/arm64/boot/*.gz
          kernel_root/out/arch/arm64/boot/dts/mediatek/*.dtb

    - name: Upload AnyKernel3
      uses: actions/upload-artifact@v4
      with:
        name: AnyKernel3-${{ steps.buildKernel.outputs.buildDetails }}
        path: kernel_root/AnyKernel3/*
        compression-level: 9
        
    - name: Upload to Telegram
      if: github.event.inputs.UPLOAD_TO_TG == 'true'
      env:
        CHAT_ID: ${{ secrets.CHAT_ID }}
        BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
      run: |
        if [ ! -z "${{ secrets.BOT_TOKEN }}" ]; then
          ZIP=$(find `pwd` -name "*.zip")
          git clone https://github.com/rsuntk/rsuntkBotScript.git --depth=1 i && cp ./i/* . && rm -rf i
          bash $(pwd)/rsuntkbot.sh $ZIP "`cat buildDetails.txt`"
        fi
      working-directory: kernel_root
        
    - name: Strip LKMs
      run: |
        # Cleanup zip
        rm -rf *.zip

        # Create folder
        mkdir ../kernel_object_tmp
        mkdir kernel_object

        # Only move neccessary path!
        find $(pwd) -type f -name "*.ko" -exec mv {} ../kernel_object_tmp \;
        LIST=$(find ../kernel_object_tmp -type f -name "*.ko")

        # Start stripping
        for file in $LIST; do
          echo -e "- Stripping `basename $file`"
          $(pwd)/toolchains/clang-`echo $CLANG_VERSION`/bin/llvm-strip "$file" --strip-unneeded
        done
        mv ../kernel_object_tmp/*.ko $(pwd)/kernel_object/
      working-directory: kernel_root
        
    - name: Upload LKM
      uses: actions/upload-artifact@v4
      with:
        name: LKM-${{ steps.buildKernel.outputs.buildDetails }}
        path: kernel_root/kernel_object/*
